.foot__zoom__in {
  animation: foot__zoom__in ease-in 1s;
  animation-fill-mode: forwards;
}

.foot__zoom__in text {
  font-size: 5px;
}

@keyframes foot__zoom__in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(7) translate(-35%, -87%);
  }
}

.foot__zoom__out {
  animation: foot__zoom__out ease-out 1s;
  animation-fill-mode: forwards;
}

@keyframes foot__zoom__out {
  from {
    transform: scale(7) translate(-35%, -87%);
  }
  to {
    transform: scale(1);
  }
}
