@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
main {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  width: 100%;
  height: 100%;
}

#ES:after {
  content: 'Spain';
  position: absolute;
  top: 0;
  left: 0;
}

.globe {
  padding: 90px 0 !important;
  background: black;
  z-index: -10;
}

.country text {
  display: none;
}

.africa-zoom-in {
  animation: africa-zoom-in 1s ease-in 3s;
  animation-fill-mode: forwards;
}

@keyframes africa-zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2.5) translate(-33%, -43%);
  }
}

.africa-zoom-out {
  animation: africa-zoom-out ease 3s;
  animation-fill-mode: forwards;
}

@keyframes africa-zoom-out {
  from {
    transform: scale(2.5) translate(-33%, -43%);
  }
  to {
    transform: scale(1);
  }
}

.asia-zoom-in {
  animation: asia-zoom-in 1s ease-in 3s;
  animation-fill-mode: forwards;
}

@keyframes asia-zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2.2) translate(-52%, -27%);
  }
}

.asia-zoom-out {
  animation: asia-zoom-out ease 3s;
  animation-fill-mode: forwards;
}

@keyframes asia-zoom-out {
  from {
    transform: scale(2.2) translate(-52%, -27%);
  }
  to {
    transform: scale(1);
  }
}

.na-zoom-in {
  animation: na-zoom-in 1s ease-in 3s;
  animation-fill-mode: forwards;
}

@keyframes na-zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5) translateX(5%);
  }
}

.na-zoom-out {
  animation: na-zoom-out ease 3s;
  animation-fill-mode: forwards;
}

@keyframes na-zoom-out {
  from {
    transform: scale(1.5) translateX(5%);
  }
  to {
    transform: scale(1);
  }
}

.middle-east-zoom-in {
  animation: middle-east-zoom-in 1s ease-in 3s;
  animation-fill-mode: forwards;
}

@keyframes middle-east-zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(3) translate(-40%, -30%);
  }
}

.middle-east-zoom-out {
  animation: middle-east-zoom-out ease 3s;
  animation-fill-mode: forwards;
}

@keyframes middle-east-zoom-out {
  from {
    transform: scale(3) translate(-40%, -30%);
  }
  to {
    transform: scale(1);
  }
}

.europe-zoom-in {
  animation: europe-zoom-in 1s ease-in 3s;
  animation-fill-mode: forwards;
}

@keyframes europe-zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2.3) translate(-30%, -5%);
  }
}

.europe-zoom-out {
  animation: europe-zoom-out ease 3s;
  animation-fill-mode: forwards;
}

@keyframes europe-zoom-out {
  from {
    transform: scale(2.3) translate(-30%, -5%);
  }
  to {
    transform: scale(1);
  }
}

.sa-zoom-in {
  animation: sa-zoom-in 1s ease-in 3s;
  animation-fill-mode: forwards;
}

@keyframes sa-zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2) translate(-6%, -50%);
  }
}

.sa-zoom-out {
  animation: sa-zoom-out ease 3s;
  animation-fill-mode: forwards;
}

@keyframes sa-zoom-out {
  from {
    transform: scale(2) translate(-6%, -50%);
  }
  to {
    transform: scale(1);
  }
}

g {
  cursor: pointer;
}

path:hover {
  fill: #36454f !important;
}

path text:hover {
  fill: #36454f !important;
}

path:hover ~ text {
  fill: #36454f !important;
}

text:hover ~ path {
  fill: #36454f !important;
}

path:hover ~ text > tspan {
  fill: white !important;
}

g > circle {
  display: none;
}

circle + text {
  display: none;
}

.image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 66.66%;
  cursor: zoom-in;
  margin: 50px 0;
}

.image-container.open {
  cursor: zoom-out;
}

.image-container .shade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.9);
}

.image-container.open .shade {
  pointer-events: auto;
  opacity: 1;
}

.image-container path {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.image-container.open path {
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  margin: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
