@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body,
main {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(
    180deg,
    hsl(0deg 7% 49%) 0%,
    hsl(0deg 2% 31%) 33%,
    hsl(0deg 0% 15%) 67%,
    hsl(0deg 0% 0%) 100%
  ); */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(219, 219, 231, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: gray;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

#__next {
  width: 100%;
  height: 100%;
}

#ES:after {
  content: 'Spain';
  position: absolute;
  top: 0;
  left: 0;
}

.reset:before {
  content: url('../public/reset.svg');
  display: inline-block;
  height: 100%;
  margin-right: 3px;
}

.opaque {
  opacity: 0;
  fill-opacity: 0;
}

.atlas {
  padding-left: 2rem;
}

.diagonal-split-bg {
  background-color: #013a6b;
  background-image: -webkit-linear-gradient(
    -45deg,
    #df001d 50%,
    #1b83ff 50%
  );
}

.globe {
  padding: 90px 0 !important;
  background: black;
  z-index: -10;
}

.country text {
  display: none;
}

.input {
  transition: all 0.7s linear;
}

.input.expand {
  rotate: y 0deg;
  /* transform-origin: left; */
  overflow: hidden;
}

.input.collapse {
  rotate: y 90deg;
  /* transform-origin: right; */
  overflow: hidden;
}

.text {
  transition: all 1s ease-in-out;
}

.text.expand {
  opacity: 1;
}

.text.collapse {
  opacity: 0;
}

g {
  cursor: pointer;
}

.hide__circle {
  display: none;
}

.hide__circle + text {
  display: none;
}

.score_tracker {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.score-text {
  display: inline-block;
}

.image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 66.66%;
  cursor: zoom-in;
  margin: 50px 0;
}

.image-container.open {
  cursor: zoom-out;
}

.image-container .shade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.9);
}

.image-container.open .shade {
  pointer-events: auto;
  opacity: 1;
}

.image-container path {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.image-container.open path {
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  margin: auto;
}

@media (max-width: 768px) {
  .auth {
    background-image: none;
  }
}

@media (max-width: 1024px) {
  .atlas {
    padding-left: 0;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
