.region__zoom__in {
  animation: region__zoom__in ease-in 2s;
  animation-fill-mode: forwards;
}

@keyframes region__zoom__in {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.8);
  }
}

.region__zoom__out {
  animation: region__zoom__out ease-in 2s;
  animation-fill-mode: forwards;
}

@keyframes region__zoom__out {
  from {
    background: rgba(0, 0, 0, 0.8);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

.africa__zoom__in {
  animation: africa__zoom__in ease-in 1s;
  animation-fill-mode: forwards;
}

@keyframes africa__zoom__in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2.5) translate(-39%, -43%);
  }
}

.africa__zoom__out {
  animation: africa__zoom__out ease-out 1s;
  animation-fill-mode: forwards;
}

@keyframes africa__zoom__out {
  from {
    transform: scale(2.5) translate(-39%, -43%);
  }
  to {
    transform: scale(1);
  }
}

.asia__zoom__in {
  animation: asia__zoom__in ease-in 1s;
  animation-fill-mode: forwards;
}

@keyframes asia__zoom__in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2.4) translate(-59%, -27%);
  }
}

.asia__zoom__out {
  animation: asia__zoom__out ease-out 1s;
  animation-fill-mode: forwards;
}

@keyframes asia__zoom__out {
  from {
    transform: scale(2.4) translate(-59%, -27%);
  }
  to {
    transform: scale(1);
  }
}

.ca__zoom__in {
  animation: ca__zoom__in ease-in 1s;
  animation-fill-mode: forwards;
}

@keyframes ca__zoom__in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5.7) translate(-21%, -45%);
  }
}

.ca__zoom__out {
  animation: ca__zoom__out ease-out 1s;
  animation-fill-mode: forwards;
}

@keyframes ca__zoom__out {
  from {
    transform: scale(5.7) translate(-21%, -45%);
  }
  to {
    transform: scale(1);
  }
}

.europe__zoom__in {
  animation: europe__zoom__in ease-in 1s;
  animation-fill-mode: forwards;
}

@keyframes europe__zoom__in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(3) translate(-40%, -15%);
  }
}

.europe__zoom__out {
  animation: europe__zoom__out ease-out 1s;
  animation-fill-mode: forwards;
}

@keyframes europe__zoom__out {
  from {
    transform: scale(3) translate(-40%, -15%);
  }
  to {
    transform: scale(1);
  }
}

.middle__east__zoom__in {
  animation: middle__east__zoom__in ease-in 1s;
  animation-fill-mode: forwards;
}

@keyframes middle__east__zoom__in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2.6) translate(-43%, -30%);
  }
}

.middle__east__zoom__out {
  animation: middle__east__zoom__out ease-out 1s;
  animation-fill-mode: forwards;
}

@keyframes middle__east__zoom__out {
  from {
    transform: scale(2.6) translate(-43%, -30%);
  }
  to {
    transform: scale(1);
  }
}

.na__zoom__in {
  animation: na__zoom__in ease-in 1s;
  animation-fill-mode: forwards;
}

@keyframes na__zoom__in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.na__zoom__out {
  animation: na__zoom__out ease-out 1s;
  animation-fill-mode: forwards;
}

@keyframes na__zoom__out {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

.oceania__zoom__in {
  animation: oceania__zoom__in ease-in 1s;
  animation-fill-mode: forwards;
}

@keyframes oceania__zoom__in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2.5) translate(-74%, -55%);
  }
}

.oceania__zoom__out {
  animation: oceania__zoom__out ease-out 1s;
  animation-fill-mode: forwards;
}

@keyframes oceania__zoom__out {
  from {
    transform: scale(2.5) translate(-74%, -55%);
  }
  to {
    transform: scale(1);
  }
}

.sa__zoom__in {
  animation: sa__zoom__in ease-in 1s;
  animation-fill-mode: forwards;
}

@keyframes sa__zoom__in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2.4) translate(-15%, -54%);
  }
}

.sa__zoom__out {
  animation: sa__zoom__out ease-out 1s;
  animation-fill-mode: forwards;
}

@keyframes sa__zoom__out {
  from {
    transform: scale(2.4) translate(-15%, -54%);
  }
  to {
    transform: scale(1);
  }
}

.urals__zoom__in {
  animation: urals__zoom__in ease-in 1s;
  animation-fill-mode: forwards;
}

@keyframes urals__zoom__in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.7) translate(-57%, 0%);
  }
}

.urals__zoom__out {
  animation: urals__zoom__out ease-out 1s;
  animation-fill-mode: forwards;
}

@keyframes urals__zoom__out {
  from {
    transform: scale(1.7) translate(-57%, 0%);
  }
  to {
    transform: scale(1);
  }
}
